<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feizhang.applink.sample">

    <uses-permission android:name="com.feizhang.applink.sample.appLink.PERMISSION" />

    <permission
        android:name="com.feizhang.applink.sample.appLink.PERMISSION"
        android:permissionGroup="com.feizhang.applink.sample.permission"
        android:protectionLevel="signature" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OrderDetailActivity"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />

        <activity android:name="com.feizhang.applink.AppLinkActivity">
            <intent-filter>
                <data android:scheme="my-scheme" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>